<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CMDb - Cineast Movie Database</title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css?v=<?=time();?>">
    <link type="text/css" rel="stylesheet" href="/css/MobileCss.css?v=<?=time();?>">



</head>
<body>
    <a href=@Url.Action("Index", "Start", null , null )>
        <div id="banner">
            <div><img id="logo" src="images/Untitled.png"></div>
        </div>
     </a>
        <div id="search-bar">
            @using (@Html.BeginForm("Index", "SearchResult"))
            {
                <input type="search" id="search-field" name="search" placeholder="Find a movie..." >
                <button type="submit" id="submit-btn" name="search-btn">Search </button>}
        </div>

        @RenderBody()

        <script type="application/javascript" src="~/js/StartpageJS.js"></script>
</body>
    </html>